container_commands:
  00_make_executable:
        command: "chmod +x scripts/createadmin.py"
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02_createadmin:
    command: "scripts/createadmin.py"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "HousingSolutionsAPI.settings"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: HousingSolutionsAPI.wsgi:application
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    "/static/": "www/static/"

